# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
venv/
.env

# Mobile
mobile/.expo/
mobile/android/
mobile/ios/
.gradle/
mobile/.gradle/
**/build/
mobile/app/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
